@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

ul, ol, dl, dd{
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

p {
  margin: 0;
}
h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.logo-link {
  display: block;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 17px;
  z-index: 1;
}

.main-header {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 40px auto;
  grid-auto-columns: 100%;
}

.main-header-container {
  background-color: #FFE17F;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 60px;
}

.first-row-header-container {
  display: flex;
  width: 1075px;
  padding-right: 25px;
}

.search-form-container {
  width: 516px;
  margin-right: auto;
}

.user-menu-list {
  width: 535px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: flex-end;
}

.user-menu-item a {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
}

.user-menu-item:first-child {
  width: 250px;
}

.main-menu-list {
  width: 1041px;
  display: flex;
  list-style-type: none;
}

.main-menu-item > a {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 15px 20px;
}

.catalog-menu-list {
  /*width: 640px;*/
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.catalog-menu-item ul {
  list-style-type: none;
  width: max-content;
}

.catalog-menu-item a {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 5px 15px;
}

.slogan {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.product-features-list {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 20px;
}

.product-features-list dt {
  font-size: 16px;
  line-height: 30px;
  grid-row: 2/3;
}

.product-features-list dd {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  grid-row: 1/2;
}

.product-categories-list {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*justify-content: space-between;*/
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  list-style-type: none;
}

.product-categories-item{
  width: 160px;
}

.product-categories-img-container {
  background-color: #FFE17F;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 33px;
}
.product-categories-item:nth-child(2) img{
  align-self: flex-end;
}

.product-categories-item h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  margin: 0;
}

.product-categories-item a {
  text-decoration: none;
}

.services-section {
  background: linear-gradient( white 175px, #F0F0F0 175px);;
  margin-bottom: 90px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.delivery-arrangement-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.companies-item {
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.subtitle {
  font-weight: 800;
  font-size: 24px;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone-link {
  color: #444444;
}

.subscribe-section {
  background-color: #F0F0F0;
}

.subscribe-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.main-footer {
  background-color: #444444;
  color: #FFFFFF;
}

.footer-address {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}
.footer-services-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.footer-services-item a {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding: 15px 20px;
}

.footer-phone-link {
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.breadcrumb {
  margin-right: 34px;
}

.breadcrumbs a {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.6;
  text-decoration: none;
}

.filter-section {
  background-color: #E5E5E5;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  width: 32.5%;
}

.filter-header-wrapper {
  background-color: #DCDCDC;
}

.filter-section h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  width: 236px;
  margin-right: 32px;
  margin-left: auto;
}

.filter-section form {
  width: 207px;
  margin-right: 68px;
  margin-left: auto;
}

.filter-item {
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.sort-section {
  background-color: #EBEBEB;
  font-size: 16px;
  line-height: 19px;
  color: #000000;

}

.sort-section-container {
  width: 760px;
  margin-left: 72px;
  display: flex;
}

.sort-section label {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.product-item h3 {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}
.product-item {
  width: 360px;
}

.price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.load-more-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  width: 100%;
}

.pagination {
  background-color: #EBEBEB
}

.pagination a {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
}

.pagination .back-link,
.pagination .forward-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  opacity: 1;
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

.demonstration-section,
.categories-section,
.services-container,
.delivery-arrangement-section {
  width: 1160px;
  margin: 0 auto;
}

.demonstration-section {
  margin-bottom: 110px;
  display: grid;
  grid-template-columns: repeat(2, 560px);
  gap: 40px;
  background: linear-gradient(#FFE17F, #FFE17F 150px, white 150px);
}

.product-demonstration-list {
  display: grid;
  grid-template-columns: 560px;
  gap: 40px;
}

.slider-list {
  display: grid;
  grid-template-columns: 560px;
  gap: 40px;
}

.slider-item {
  padding-top: 123px;
}

.categories-section {
  margin-bottom: 70px;
}

.about-us-and-contacts-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.about-us-section {
  width: 560px;
}

.contacts-section {
  width: 560px;
}

.subscribe-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subscribe-container .title {
  width: 560px;
}

.subscribe-container p {
  width: 560px;
}

.subscribe-container form {
  width: 861px;
}

.main-footer-container {
  width: 1160px;
  margin: 0 auto;
}

.main-footer-flex {
  display: flex;
  /*flex-wrap: wrap;*/
}

.footer-contacts-section {
  width: 238px;
}

.navigation-and-socials-container {
  width: 520px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone-and-link-container {
  width: 293px;
  text-align: right;
}

.catalog-container {
  flex-grow: 1;
}

.catalog-header {
  width: 1160px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 50px;
}

.catalog-content-container {
  display: flex;
}

.catalog-right-column-container {
  flex-grow: 1;
}

.product-list {
  width: 760px;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 40px;
  margin-left: 72px;
  list-style-type: none;
}

.product-item {
  width: 360px;
}

.sort-min-max-price-container {
  margin-left: auto;
}

.pagination-and-load-footer {
  width: 760px;
  margin-left: 72px;
}

.product-demonstration-list {
  list-style-type: none;
}

.slider-list {
  list-style-type: none;
}

.slider-item .slogan {
  margin-bottom: 20px;
  display: inline-block;
}

.slider-item p {
  margin-bottom: 30px;
}

.slider-item .btn {
  margin-bottom: 70px;
  display: inline-block;
}

.slider-button-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.slider-button-item {
  margin-right: 22px;
}

.slider-button-item:last-child {
  margin-right: 0;
}

.services-description-item .title {
  margin: 0;
  margin-bottom: 14px;
}

.services-title-list {
  list-style-type: none;
  width: 280px;
  margin-right: 120px;
}

.services-description-list {
  list-style-type: none;
}

.delivery-arrangement-section {
  background-color: #F0F0F0;
  margin-bottom: 97px;
}

.about-us-section .title,
.contacts-section .title {
  margin-top: 42px;
  margin-bottom: 26px;
}

.about-us-and-contacts-container {
  margin-bottom: 87px;
}

.socials-list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 15px;
  list-style-type: none;
}

.socials-item {
  width: 40px;
  height: 40px;
  background-color: blue;
}

.socials-item:last-child {
  margin-right: 0;
}

.pagination {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  align-items: center;
}

.pagination-item a {
  display: block;
  padding: 7px 20px;
}

.pagination-item .back-link,
.pagination-item .forward-link {
  padding: 30px 40px;
}
.back {
  margin-right: auto;
}

.forward {
  margin-left: auto;
}

.services-container {
  display: flex;
  align-items: center;
}

.filter-section ul {
  list-style-type: none;
}

