@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

ul, ol, dl, dd{
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

p, fieldset{
  margin: 0;
  padding: 0;
}
h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}
fieldset {
  border: none;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*:focus{
  outline: none;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.logo-link {
  display: block;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 17px;
  z-index: 1;
}

.main-header {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 40px auto;
  grid-auto-columns: 100%;
}

.main-header-container {
  background-color: #FFE17F;
  display: flex;
  flex-direction: column;
  padding-top: 39px;
  /*padding-bottom: 20px;*/
  padding-left: 40px;
  padding-right: 41px;
  position: relative;
}

.first-row-header-container {
  display: flex;
  width: 100%;
  margin-bottom: 18px;
}

.search-form-container {
  position: relative;
  width: 516px;
  margin-right: auto;
  padding-left: 60px;
}

.search-form-container::before {
  position: absolute;
  content: url("../img/search.svg");
  width: 16px;
  height: 16px;
  left: 19px;
  top: 7px;
}


.main-menu-item:nth-child(2n) {
  margin-left: 273px;
}
.main-menu-item:nth-child(3n) {
  margin-left: -9px;
}

.main-menu-item:nth-child(4n) {
  margin-left: 51px;
  margin-right: -10px;
}

.search-form-container input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.catalog-menu-item li {
  margin-bottom: 8px;
}

.user-menu-item{
  margin-left: 24px;
}

.user-menu-list {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: flex-end;
}

.user-menu-item a{
  position: relative;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  padding-left: 40px;
  padding-right: 17px;
}
.user-menu-item .exit-link {
  padding-left: 8px;
  padding-right: 8px;
  margin-left: -7px;
  opacity: 0.3;
}

.user-menu-item .enter-link::before {
  position: absolute;
  width: 13px;
  height: 12px;
  content: url("../img/user.svg");
  left: 15px;
}

.user-menu-item .compare-link::before {
  position: absolute;
  width: 10px;
  height: 12px;
  content: url("../img/compare.svg");
  left: 20px;
}

.user-menu-item .cart-link::before {
  position: absolute;
  width: 16px;
  height: 14px;
  content: url("../img/cart.svg");
  left: 14px;
}

.user-menu-item:first-child {
  width: 231px;
}

.main-menu-item {

}

.main-menu-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.main-menu-item > a {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 15px 20px;
  margin-bottom: 35px;
}

.catalog-menu-list {
  position: absolute;
  background-color: #FFE17F;
  width: 1158px;
  left: 0;
  z-index: 2;
  display: none;
}

.main-menu-item:first-child > a {
  position: relative;
}


.main-menu-item:first-child > a::after {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  opacity: 0.2;
  border-radius: 50%;
  content: '';
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-size: 17px 17px;
  background-position: center center;
  top: -1px;
  left: 265px;
}

.catalog-menu-list {
  /*width: 640px;*/
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 45px;
  padding-right: 46px;
}

.catalog-menu-item ul {
  list-style-type: none;
  width: max-content;
  padding-bottom: 45px;
  margin-right: 15px;
}

.catalog-menu-item:nth-child(3n) {
  padding-left: 15px;
}

.catalog-menu-item a {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 5px 15px;
}

.slogan {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.product-features-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  column-gap: 21px;
  row-gap: 11px;
}

.product-features-list dt {
  font-size: 16px;
  line-height: 30px;
  grid-row: 2/3;
}

.product-features-list dd {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  grid-row: 1/2;
}

.product-categories-list {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*justify-content: space-between;*/
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  list-style-type: none;
}

.product-categories-item{
  width: 160px;
}

.product-categories-img-container {
  background-color: #FFE17F;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 33px;
}
.product-categories-item:nth-child(2) img{
  align-self: flex-end;
}

.product-categories-item h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  margin: 0;
}

.product-categories-item a {
  text-decoration: none;
}

.services-section {
  background: linear-gradient( white 112px, #F0F0F0 112px);
  margin-bottom: 90px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.delivery-arrangement-link {
  position: absolute;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  width: 1160px;
  display: inline-block;
  height: 100px;
  top: 0;
  left: 0;
  padding: 40px 0;
}

.companies-item {
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.subtitle {
  font-weight: 800;
  font-size: 24px;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone-link {
  color: #444444;
}

.subscribe-section {
  background-color: #F0F0F0;
  padding-top: 75px;
  padding-bottom: 130px;
}

.subscribe-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  padding: 15px 40px;
  padding-bottom: 18px;
  border: 3px solid rgba(0, 0, 0, 0.1);
}

.main-footer {
  background-color: #444444;
  color: #FFFFFF;
}

.footer-address {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}
.footer-services-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 3px;
}

.footer-services-item a {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding: 15px 20px;
}

.footer-phone-link {
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.breadcrumb a {
  padding-right: 35px;
  text-decoration: none;
}

.breadcrumbs span{
  font-size: 16px;
  line-height: 19px;
  color: rgba(0,0,0,0.6);
  text-decoration: none;
}

.filter-section {
  background-color: #E5E5E5;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  width: 33.5%;
}

.filter-header-wrapper {
  background-color: #DCDCDC;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 83px;
}

.filter-section h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  width: 236px;
  margin-right: 33px;
  margin-left: auto;
}

.filter-section form {
  width: 207px;
  margin-right: 68px;
  margin-left: auto;
}

.filter-item {
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.sort-section {
  background-color: #EBEBEB;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  height: 70px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 70px;
}

.sort-section-container {
  width: 760px;
  margin-left: 72px;
  display: flex;
}

.sort-section label {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin-right: 37px;
}

.product-item h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}
.product-item {
  width: 360px;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) auto;
  grid-template-rows: 380px 1fr;
  gap: 30px;
}

.product-item .btn {
  grid-column: 1/3;
}

.price {
  line-height: 24px;
  text-align: right;
  color: #444444;
  margin-right: 5px;
}

.load-more-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  width: 100%;
  height: 55px;
  margin-bottom: 50px;
  border: 3px solid rgba(0,0,0,0.1);
  background-color: transparent;
}

.pagination {
  background-color: #EBEBEB;
  margin-bottom: 77px;
  height: 70px;
}

.pagination a {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgba(68,68,68,0.3);
  text-decoration: none;
}

.pagination .back-link,
.pagination .forward-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  opacity: 1;
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

.demonstration-section,
.categories-section,
.services-container,
.delivery-arrangement-section {
  width: 1160px;
  margin: 0 auto;
}

.demonstration-section {
  margin-bottom: 70px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 560px);
  gap: 40px;
  background: linear-gradient(#FFE17F, #FFE17F 160px, white 160px);
  margin-top: -47px;
}

.product-demonstration-list {
  display: grid;
  grid-template-columns: 560px;
  gap: 40px;
}

.slider-list {
  display: grid;
  grid-template-columns: 560px;
  gap: 40px;
}

.slider-item {
  padding-top: 123px;
}

.categories-section {
  margin-bottom: 70px;
}

.about-us-and-contacts-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.about-us-section {
  width: 560px;
}

.contacts-section {
  width: 560px;
}

.subscribe-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subscribe-container .title {
  width: 560px;
}

.subscribe-container p {
  width: 560px;
}

.subscribe-container form {
  width: 861px;
}

.main-footer-container {
  width: 1160px;
  margin: 0 auto;
}

.main-footer-flex {
  display: flex;
  /*flex-wrap: wrap;*/
}

.footer-contacts-section {
  width: 240px;
  position: relative;
}

.navigation-and-socials-container {
  width: 520px;
  margin-right: auto;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone-and-link-container {
  width: 293px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.catalog-container {
  flex-grow: 1;
}

.catalog-header {
  width: 1160px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 45px;
}

.catalog-content-container {
  display: flex;
}

.catalog-right-column-container {
  flex-grow: 1;
}

.product-list {
  width: 760px;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
  row-gap: 48px;
  margin-left: 72px;
  list-style-type: none;
}

.product-item {
  width: 360px;
}

.sort-min-max-price-container {
  margin-left: auto;
}

.pagination-and-load-footer {
  width: 760px;
  margin-left: 72px;
}

.product-demonstration-list {
  list-style-type: none;
}

.slider-list {
  list-style-type: none;
}

.slider-item .slogan {
  margin-bottom: 27px;
  display: inline-block;
}

.slider-item p {
  margin-bottom: 35px;
}

.slider-item .btn {
  margin-bottom: 54px;
  display: inline-block;
  position: relative;
}

.slider-button-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.slider-button-item {
  margin-right: 22px;
}

.slider-button-item:last-child {
  margin-right: 0;
}

.services-description-item .title {
  margin: 0;
  margin-bottom: 33px;
}

.services-title-list {
  list-style-type: none;
  width: 280px;
  margin-right: 120px;
  padding-top: 6px;
}

.services-title-item button {
  padding: 11px 15px;
  border: none;
  background-color: transparent;
  margin-bottom: 25px;
}

.services-description-list {
  list-style-type: none;
}

.delivery-arrangement-section {
  background-color: #F0F0F0;
  margin-bottom: 97px;
  position: relative;
}

.about-us-section .title,
.contacts-section .title {
  padding-top: 50px;
  margin-bottom: 45px;
  position: relative;
}

.about-us-section .title::before,
.contacts-section .title::before {
  position: absolute;
  top:0;
  content: '';
  width: 80px;
  height: 1px;
  border-bottom: 7px solid #000000;
}

.about-us-and-contacts-container {
  margin-bottom: 70px;
}

.socials-list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 15px;
  list-style-type: none;
}

.socials-item {
  width: 40px;
  height: 40px;

}

.socials-item:last-child {
  margin-right: 0;
}

.pagination {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  align-items: center;
}

.pagination-item a {
  display: block;
  padding: 7px 8px;
  margin-right: 10px;
}

.pagination-item .back-link,
.pagination-item .forward-link {
  padding: 25px 28px;
}
.back {
  margin-right: 170px;
}

.forward {
  margin-left: auto;
}

.services-container {
  display: flex;
  align-items: flex-start;
  padding-top: 83px;
}

.filter-section ul {
  list-style-type: none;
}

.slider-item .btn {
  padding: 15px 30px;
  margin-left: 9px;
}

.about-us-and-contacts-container p {
  margin-bottom: 30px;
}

.about-us-and-contacts-container .btn {
  display: inline-block;
  margin-top: 38px;
  align-self: flex-start;
  padding: 15px 35px;
}

.about-us-section,
.contacts-section {
  display: flex;
  flex-direction: column;
}

.companies-item {
  margin-bottom: 20px;
  color: #FFC700;
}

.about-us-content-container,
.contacts-content-container {
  flex-grow: 1;
}
.contacts-section h3 {
  margin-bottom: 15px;
}

.contacts-address {
  margin-bottom: 30px;
}

.contacts-section ul {
  list-style-type: none;
}

.subscribe-section p,
.subscribe-section h2 {
  margin-bottom: 60px;
}

.subscribe-section form {
  display: flex;
  height: 55px;
}

.subscribe-section input {
  width: 600px;
}

.subscribe-section .free {
  align-self: flex-end;
  width: 164px;
  text-align: end;
  position: relative;
  padding: 10px;
  padding-left: 20px;
  padding-right: 0;
}

.subscribe-section .free::before {
  position: absolute;
  content: url("../img/check.svg");
  width: 14px;
  height: 14px;
  left: 0;
  top: 7px;
}

.delivery-arrangement-section {
  text-align: center;
}

.main-footer {
  padding-top: 62px;
  padding-bottom: 61px;
}

.footer-logo {
  margin-bottom: 35px;
  display:block;
}

.footer-navigation-section {
  margin-bottom: 45px;
}

.phone-and-link-container p {
  margin-bottom: 60px;
}

.catalog-header h1 {
  margin-top: 37px;
  margin-bottom: 17px;
}

.filter-section li:not(:last-of-type) {
  margin-bottom: 14px;
}

.filter-section .btn{
  border: none;
  padding: 10px;
  background-color: transparent;
  align-self: center;
  margin-top: -2px;
}

.filter-section input {
  width: 20px;
  height: 20px;
  margin-right: 17px;
}

.filter-section fieldset:not(.cost-fieldset) label {
  display: flex;
  align-items: center;
}

.filter-section form {
  display: flex;
  flex-direction: column;
}

.products-section {
  margin-bottom: 45px;
}

.slider-item:nth-child(1) {
  background-image: url("../img/01.svg");
  background-repeat: no-repeat;
  background-size: 202px 129px;
  background-position-y: 37px;
  background-position-x: 299px;
  z-index: 1;
}

.slider-item:nth-child(2) {
  background-image: url("../img/02.svg");
  background-repeat: no-repeat;
  background-size: 202px 129px;
  background-position-y: 37px;
  background-position-x: 299px;
  z-index: 1;
}

.slider-item:nth-child(3) {
  background-image: url("../img/03.svg");
  background-repeat: no-repeat;
  background-size: 202px 129px;
  background-position-y: 37px;
  background-position-x: 299px;
  z-index: 1;
}


.services-description-item:nth-child(1) {
  background-image: url("../img/service/delivery.svg");
  background-repeat: no-repeat;
  background-size: 136px 164px;
  background-position-y: 14px;
  background-position-x: 558px;
}

.services-description-item:nth-child(2) {
  background-image: url("../img/service/guarantee.svg");
  background-repeat: no-repeat;
  background-size: 136px 164px;
  background-position-y: 14px;
  background-position-x: 558px;
}

.services-description-item:nth-child(3) {
  background-image: url("../img/service/credit.svg");
  background-repeat: no-repeat;
  background-size: 136px 164px;
  background-position-y: 14px;
  background-position-x: 558px;
}

.services-description-item {
  padding-bottom: 70px;
  display: block;
  padding-right: 215px;
}

.services-description-item {
  width: 715px;
}

.delivery-arrangement-section {
  position: relative;
  height: 100px;
}

.delivery-arrangement-link::before {
  position: absolute;
  display: inline-block;
  height: 100%;
  content: url("../img/car.svg");
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 35px;
}

.delivery-arrangement-link::after {
  position: absolute;
  content: 'i';
  width: 40px;
  height: 40px;
  background-color: #DCDCDC;
  opacity: 0.5;
  border-radius: 50%;
  right: 34px;
  top: 30px;
  padding: 10px 19px;
  text-transform: lowercase;
  font-weight: 400;
}

.breadcrumb a {
  position: relative;
}

.breadcrumb:not(:last-child) a::after {
  position: absolute;
  width: 4px;
  height: 7px;
  content: url("../img/arrow.svg");
  right: 15px;
  top: -5px;
}

.sort-min-max-price-container a{
  text-decoration: none;
  padding: 5px;
}

.product-item a {
  position: relative;
}

.product-item .new::before {
  position: absolute;
  content: url("../img/new.svg");
  width: 60px;
  height: 60px;
  right: 30px;
  top: 25px;
}

.services-title-item:nth-child(2) button{
  margin-left: 3px;
  margin-bottom: 22px;
}

.services-title-item:nth-child(1) button{
  margin-bottom: 21px;
}

.services-title-item:nth-child(3) button{
  margin-bottom: 21px;
}

.companies-list {
  margin-left: 20px;
  margin-top: 75px;
}

.companies-item span {
  color: #000000;
  margin-left: 15px;
}

.about-us-section .btn {
  margin-left: -15px;
}

.subscribe-section p {
  margin-top: 10px;
}

.footer-services-item {
  margin-top: -10px;
}

.footer-services-item:nth-child(2){
  margin-left: -12px;
  margin-right: -10px;

}
.footer-services-item:nth-child(5){
  margin-left: -12px;
  margin-right: -10px;

}
.footer-services-item:nth-child(8){
  margin-left: -12px;
  margin-right: -10px;

}

.footer-contacts-section::after {
  position: absolute;
  content: '';
  width: 80px;
  height: 1px;
  border-bottom: 7px solid #FFC700;
  bottom: 41px;
}

.slider-item .btn::before {
  position: absolute;
  width: 220px;
  height: 8px;
  background-color: #FFE17F;
  content: '';
  top: 22px;
  left: -10px;
  z-index: -1;
}

.slider-item .btn:focus::before {
  background-color: #AF4FFF;
}

.slider-item .btn:hover{
  background-color: #FFE17F;
}

.slider-item .btn:hover::before{
  display: none;
}

.slider-item .btn:active{
  background-color: #FFE17F;
  opacity: 0.3;
}

.slider-item .btn:active::before{
  display: none;
}

fieldset {
  padding: 43px 0;
  margin-bottom: 14px;
  position: relative;
}

fieldset ul {
  margin-top: -17px;
}

fieldset:last-of-type {
  margin-bottom: 0;
}

.pagination-item .forward-link {
  margin-right: 0;
}

.filter-section fieldset::before {
  position: absolute;
  width: 200px;
  height: 1px;
  border-bottom: 2px solid #000000;
  content: '';
  top: -35px;
}

.user-menu-item a:focus {
  border-radius: 20px;
  outline: 2px solid #AF4FFF;
}

.user-menu-item a:hover {
  opacity: 0.6;
}

.user-menu-item a:active {
  opacity: 0.3;
}

.main-menu-item > a:focus {
  border-radius: 25px;
  outline: 2px solid #AF4FFF;
}

.main-menu-item > a:hover::after {
  opacity: 1;
}

.main-menu-item > a:active::after {
  opacity: 0.3;
}

.main-menu-item:not(:first-child) span {
  display: inline-block;
  border-bottom: 2px solid transparent;

}

.main-menu-item:not(:first-child) > a:hover span{
  display: inline-block;
  border-bottom: 2px solid #000000;
}

.main-menu-item:not(:first-child) > a:active span{
  display: inline-block;
  border-bottom: 2px solid #000000;
  opacity: 0.3;
}

.catalog-menu-item a:focus {
  border-radius: 20px;
  outline: 2px solid #AF4FFF;
}

.catalog-menu-item a:hover {
  opacity: 0.6;
}

.catalog-menu-item a:active {
  opacity: 0.3;
}

.delivery-arrangement-link:focus {
  outline: 5px solid #AF4FFF;
}

.delivery-arrangement-link:hover {
  background-color: #EBEBEB;
}

.delivery-arrangement-link:hover::before{
  background-color: #FFC700;
}

.delivery-arrangement-link:hover::after{
  background-color: #DCDCDC;
}

.delivery-arrangement-link:active {
  background-color: #EBEBEB;
  opacity: 0.3;
}

.delivery-arrangement-link:active::before{
  background-color: #FFC700;
}

.delivery-arrangement-link:active::after{
  background-color: #DCDCDC;
}

.subscribe-section .subscribe-btn:focus {
  border: 3px solid #AF4FFF;
}

.subscribe-section .subscribe-btn:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.subscribe-section .subscribe-btn:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.footer-services-item a:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 25px;
}

.footer-services-item span {
  border-bottom: 2px solid transparent;
}

.footer-services-item a:hover span {
  border-bottom: 2px solid #FFC700;
  color: #FFC700;
}

.footer-services-item a:active span {
  border-bottom: 2px solid #FFC700;
  color: #FFC700;
  opacity: 0.3;
}

.main-footer .html-academy-link {
  padding: 10px;
  fill: #FFC700;
  margin-top: -10px;
  margin-right: -15px;
}

.main-footer .html-academy-link:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 10px;
}

.main-footer .html-academy-link:hover {
  fill: #FFFFFF;
}

.main-footer .html-academy-link:active {
  fill: #FFFFFF;
  opacity: 0.3;
}

.footer-phone-link {
  padding: 5px;
}

.footer-phone-link:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 25px;
}

.footer-phone-link:hover {
  color: #FFC700;
}

.footer-phone-link:active {
  color: #FFC700;
  opacity: 0.3;
}

.socials-item a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-item svg{
  fill: #444444;
}

.socials-item a:focus{
  fill: #FFFFFF;
  outline: 5px solid #AF4FFF;
}

.socials-item a:hover {
  background-color: #FFC700;
}

.socials-item a:active {
  background-color: #FFC700;
  opacity: 0.3;
}

.product-categories-item a:focus .product-categories-img-container{
  outline: 5px solid #AF4FFF;
}

.product-categories-item a:focus .product-categories-title{
  color: #AF4FFF;
}

.product-categories-item a:hover .product-categories-img-container {
  background-color: #FFC700;
}

.product-categories-item a:active .product-categories-img-container{
  background-color: #FFC700;
  opacity: 0.3;
}

.product-categories-item a:active .product-categories-title{
  opacity: 0.3;
}

.services-title-item .btn{
  position: relative;
  z-index: 1;
  min-width: 160px;
}

.services-title-item .btn::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: #FFC700;
  top: 19px;
  left: 0;
  z-index: -1;
}

.services-title-item .btn:focus::before {
  background-color: #AF4FFF;
}

.services-title-item .btn:hover{
  background-color: #FFC700;
}

.services-title-item .btn:active {
  background-color: #000000;
  width: 280px;
  color: #FFC700;
}

.services-title-item .btn:active::before {
  display: none;
}

.breadcrumb span{
  padding: 5px 12px;
}
.breadcrumb:first-child span {
  margin-left: -5px;
}
.breadcrumb a:focus span {
  outline: 5px solid #AF4FFF;
}

.breadcrumb a:hover span{
  color: #000000;
}

.breadcrumb a:active span{
  color: #000000;
  opacity: 0.3;
}

.sort-min-max-price-container svg {
  fill: #000000;
  opacity: 0.2;
}

.sort-min-max-price-container a {
  padding: 5px 10px;
  display: inline-block;
}

.sort-min-max-price-container a:focus {
  outline: 5px solid #AF4FFF;
}

.sort-min-max-price-container a:hover svg {
  fill: #000000;
  opacity: 0.5;
}

.sort-min-max-price-container a:active svg {
  fill: #000000;
  opacity: 1;
}
.product-item .img-container{
  position: relative;
}

.product-item .img-container::after{
  position: absolute;
  top:0;
  left: 0;
  width: 360px;
  height: 380px;
  background: linear-gradient(0deg, rgba(240, 240, 240, 0.8), rgba(240, 240, 240, 0.8));
  content: '';
  display: none;
}

.product-item .img-container::before {
  position: absolute;
  content: '';
  width: 180px;
  height: 8px;
  background-color: #FFC700;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  display: none;
}

.product-item .more-detailed {
  position: absolute;
  top: 168px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  display: none;
  width: 180px;
  height: 40px;
  padding: 10px;
}

.product-item a:hover .img-container::after {
  display: block;
}

.product-item a:hover .img-container::before {
  display: block;
}

.product-item a:hover .more-detailed {
  display: block;
}

.product-item .more-detailed:hover {
  background-color: #FFC700;
}

.product-item .more-detailed:active {
  background-color: #FFC700;
  color: rgba(0,0,0,0.3);
}

.product-item a:focus img {
  outline: 5px solid #AF4FFF;
}

.product-item a:focus+h3{
  color: #AF4FFF;
}

.load-more-btn:focus {
  outline: 5px solid #AF4FFF;
  border: transparent;
}

.load-more-btn:hover {
  border: 3px solid #000000;
}

.load-more-btn:active {
  opacity: 0.3;
}

.pagination-item a:focus {
  outline: 5px solid #AF4FFF;
}

.pagination-item .back-link:focus,
.pagination-item .forward-link:focus{
  padding: 21px 28px;
}

.pagination-item .back-link:hover,
.pagination-item .forward-link:hover{
  background: #DCDCDC;
}

.pagination-item a:not(.back-link):not(.forward-link):hover {
  color: rgba(68,68,68,1);
}

.pagination-item a:active {
  opacity: 0.3;
}

.cart-link::after {
  position: absolute;
  content: '2';
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  padding: 1px 6px;
  left: -2px;
}

.catalog-menu-list {
  display: none;
  width: 100%;
}

.main-menu-item:first-child > a:hover+.catalog-menu-list {
  display: flex;
}

.main-menu-item:first-child > a:hover::after {
  background-image: url("../img/minus.svg");
}

.slider-img-btn {
  width: 40px;
  height: 80px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-image: url("../img/slider/left-arrow.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-next-btn {
  transform: rotate(180deg);
}

.slider-img-btn:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 6px;
}

.slider-img-btn:hover {
  opacity: 0.6;
}

.slider-img-btn:active {
  opacity: 0.3;
}

.product-demonstration-item {
  position: relative;
}

.slider-img-buttons-container {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.slider-desc-btn {
  width: 12px;
  height: 12px;
  border: 2px solid #000000;
  background-color: transparent;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.slider-item {
  position: relative;
}

.slider-button-list {
  position: absolute;
  right: 0;
  top: 350px;
  right: 60px;
}

.slider-desc-btn-active {
  background-color: #000000;
}

.slider-desc-btn:focus {
  border: 2px solid #AF4FFF;
}

.slider-desc-btn:hover {
  opacity: 0.6;
}

.slider-desc-btn:active {
  opacity: 0.3;
}
